<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a routerLink="/">Mi Aplicación</a>
        </div>
        <div class="navbar-menu">
            <ng-container *ngIf="!isAuthenticated; else loggedInMenu">
                <a routerLink="/login" class="nav-link">Iniciar Sesión</a>
                <a routerLink="/register" class="nav-link">Registrar</a>
            </ng-container>
            <ng-template #loggedInMenu>
                <div class="dropdown">
                    <button class="dropbtn">
                        <img src="../../assets/profile-user.png" alt="Perfil" class="profile-icon">
                        Opciones
                    </button>
                    <div class="dropdown-content">
                        <a routerLink="/dashboard">Tablero</a>
                        <a routerLink="/profile">Perfil</a>
                        <a routerLink="/nueva-solicitud">Nueva Solicitud</a>
                        <a (click)="logout()">Cerrar Sesión</a>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</nav>