/* Estilo para el contenedor del registro */
.profile-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box; /* Asegura que el padding se aplique correctamente */
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* Estilo para el formulario */
form {
  display: flex;
  flex-direction: column;
}

/* Estilo para las etiquetas */
label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

/* Estilo para los botones de acción */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1; /* Permitir que los botones se expandan para ocupar el espacio disponible */
  margin: 0 5px; /* Espacio entre los botones */
}

/* Estilo para el botón de envío */
button[type="submit"] {
  background-color: #007bff; /* Color de fondo para el botón Guardar */
}

button[type="submit"]:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse sobre el botón Guardar */
}

/* Estilo para el botón Cancelar */
button.cancel {
  background-color: #dc3545; /* Color de fondo para el botón Cancelar */
}

button.cancel:hover {
  background-color: #a01e2b; /* Color de fondo al pasar el mouse sobre el botón Cancelar */
}

/* Contenedor para los botones de guardar y cancelar */
.button-container {
  display: flex; /* Usar flex para dividir el espacio */
  justify-content: space-between; /* Separar los botones */
}
