<h1>Mi lista de solicitudes</h1>
<div id="lista-empresas">
    <table>
        <tr>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Ingresos</th>
            <th>Numero de Personas</th>
            <th>Estado de solicitud</th>
            <th>Comprobante</th>
        </tr>
        <tr *ngFor="let registro of registros">
            <td>{{registro.docData.nombre}}</td>
            <td>{{registro.docData.fechaNacimiento}}</td>
            <td>{{registro.docData.ingresos}}</td>
            <td>{{registro.docData.numPersonas}}</td>
            <td><span class="dot" [ngStyle]="{'background-color': registro.docData.solicitud === 'Pendiente' ? 'yellow' :
                                   registro.docData.solicitud === 'Rechazado' ? 'red' :
                                   registro.docData.solicitud === 'Aprobado' ? 'green' :
                                   'transparent'}"></span>{{registro.docData.solicitud}}</td>
            <td>
                <a *ngFor=" let urlInfo of registro.urlList" href="{{urlInfo.downloadUrl}}">{{urlInfo.fileName}}</a>
            </td>
        </tr>
    </table>
</div>