body {
  background-image: url("https://img.freepik.com/free-vector/paper-style-wavy-background_23-2149116135.jpg?t=st=1726079296~exp=1726082896~hmac=27519af30e8afd18ac22b9fa854aea9595122b444ccf37d0b8c3befcad41cd3c&w=996");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
